<!DOCTYPE html >
<html ng-app="rest">
<head>
	<title>Demo</title>
	<script  src="angular.js"></script>
</head>
<body ng-controller="RestController">
<h1>Inside h1</h1>
<div>
	
	<label>Name</label>
	<input type="text" name="name" ng-model="name">
	<label>Age</label>
	<input type="text" name="age" ng-model="age">
	<label>Designation</label>
	<input type="text" name="Design" ng-model="design">
	<button data-ng-click="send()">Send</button>
	<button data-ng-click="get()">Get Data</button>
</div>


<table>
<thead>
	<tr>
		<th>Sl no</th>
		<th>Name</th>
		<th>Age</th>
		<th>Designation</th>
	</tr>
</thead>
<tbody data-ng-repeat = "userdetails in getUserList">
	<td>{{$index + 1}}</td>
	
	<td>{{userdetails.name}}</td>
	<td>{{userdetails.age}}</td>
	<td>{{userdetails.design}}</td>
	<td><button data-ng-click="Delete(userdetails._id)">Delete</button></td>
</tbody>
	
</table>

<form ng-submit="mailSend(user)">
	<input type="text" placeholder="mailId" ng-model="user.mailId"/>
	<input type="text" placeholder="subject" ng-model="user.sub"/>
	<input type="text" placeholder="comment" ng-model="user.comment"/>
	<button ng-click="submitted == true">sendMail</button>
</form>

<script src="custom.js"></script>
</body>
</html>